
@media (min-width: 576px) {
     p, a{
        font-size: 14px!important;
    }
    .navbar>.container-fluid{
        justify-content: space-between;
    }
    .navbar-brand{
        width: 300px;
    }
    .navbar-brand, .sec, h5, h6, h4, li, td, tr{
        font-size: 18px!important;
    }
    .navbar, .second, .news{
        padding-left: 3em;
        padding-right: 3em;
        margin-left: 0;
        margin-right: 0;
    }
    .card{
        width: 12em;
    }
}
@media (min-width: 768px) {
    p, a{
        font-size: 15px!important;
    }
     .navbar-brand, .sec, h5, h6, h4, li, td, tr{
        font-size: 19px!important;
    }
    .navbar, .second, .news{
        padding-left: 5em;
        padding-right: 5em;
        margin-left: 0;
        margin-right: 0;
    }
    .card{
        width: 15em;
    }
}

@media (min-width: 992px) {
    p, a{
        font-size: 16px!important;
    }
    .navbar-brand{
        width: auto!important;
    }
    .navbar, .second, .news{
        padding-left: 6em;
        padding-right: 6em;
        margin-left: 0;
        margin-right: 0;
    }
    .second{
        grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
    }
    .card2, .card5{
    justify-self: center;
}
.card3,.card6{
    justify-self: self-end;
}
    .navbar-brand, .sec, h5, h6, h4, li, td, tr{
        font-size: 20px!important;
    }

    .card{
        width: 13em;
    }
}

@media (min-width: 1200px) {
    .navbar-brand, h5, h6{
        font-size: 25px!important;
    }
       p, a{
        font-size: 20px!important;
    }
    .card{
        width: 15em;
    }
    .navbar, .second, .news{
        padding-left: 7em;
        padding-right: 7em;
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-brand{
        width: auto!important;
    }
}

@media (min-width: 1400px) { 
    .card{
        width: 18em;
    }
    .navbar-brand{
        width: auto!important;
    }
}
